@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

   *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Signika', sans-serif;
   }

   body{
     background-color: #F8FBFF!important;
   }

   ::placeholder {
    color: rgba(0, 0, 0, .5);
    padding-left: 10px;
  }
  
    .row.content {
      height: 100vh;
    }

    .topnav{
      padding: 15px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    }
    .topnav input{
      width: 300px;
      height: 40px;
      padding-left: 10px;
      border-radius: 5px;
      border: 1px solid #dfe1e5;
    }

    .topnav input:hover{
      width: 300px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
      border: none;
    }

    .topnav .search-container{
      margin-right: -600px;
    }

    .topnav .search-container button {
      padding: 6px 20px;
      height: 40px;
      background: #0267C1;
      font-size: 17px;
      border:none;
      cursor: pointer;
      border-radius: 5px;
    }
    .topnav .search-container button:hover {
      box-shadow: 0px 0px 10px rgba(16, 30, 88, 0.25);
    }

    .fa-search{
      color: #fff;
    }

    .user {
      background: #c4c4c4;
      border-radius: 50%;
      padding: 10px;
      width: 40px;
      height: 40px; 
    }

    .topnav_end{
      display: flex;
      align-items: center;
    }

    .topnav_end h6 {
      padding-right: 10px;
    }
    
    .sidenav {
      background-color: #0267C1;
      max-width: 200px;
      padding: 0!important;
      height: 100%;
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      overflow-x: hidden;
    }

    .nav-pills>li>a {
      border-radius: 0!important;
      color: #fff;
    }

    .nav-pills>li>a:hover {
      background-color: #fff!important;
      color: #FFAB0D!important;
      border-left: 5px solid #FFAB0D;
    }

    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
      background-color: #fff!important;
      color: #FFAB0D!important;
      border-left: 5px solid #FFAB0D;
    }

    .icons{
      margin-right: 10px;
    }

    .selected {
      background: linear-gradient(117.17deg, #0267C1 0%, #9C6EE8 100%);
    }

    .dem input{
      width: 80%;
      height: 40px;
      padding-left: 10px;
      border: 1px solid #dfe1e5;
      border-radius: 5px;
    }

    textarea {
      width: 80%;
      height: 193px;
      border: 1px solid #dfe1e5;
      border-radius: 5px;
      padding-left: 10px;
      padding-top: 5px;
      resize: none;
    }
    
    .card1{
      border-radius: 5px;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      margin: 10px 0;
      width: 199px;
      height: 134px;
    }

    .card{
      border-radius: 5px;
      color: rgba(0, 0, 0, 0.8);
      background: #EDEDED;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      margin: 10px 0;
      width: 199px;
      height: 134px;
    }

    .first {
      font-size: 24px;
      margin: 0;
      padding: 0;
    }

    .second{
      font-size: 30px;
      margin: 0;
      padding: 0;
    }
    .third{
      font-size: 36px;
      font-weight: bold;
    }

    thead {
      font-size: 14px;
    }

    .table {
      text-align: center;
      background: #fff;
    }

    .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
      border-bottom-width: 1px!important;
      text-align: center
    }

    tbody{
      font-size: 14px;
    }
    
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    .sel {
      background: #fff;
      height: 50px;
      width: 200px;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 600;
      border-radius: 5px;
      padding: 10px;
      margin: 20px 0;
    }
    .otable{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .copy{
      display: flex;
    }

    .copy h4 {
      padding: 10px;
      background: #e1e1e1;
      border-radius: 2px;
      margin-left: 5px;
      font-size: 12px;
      cursor: pointer;
    }

    .green{
      color: #09C532;
    }

    .red{
      color: red;
    }

    /* Edit page */
    .heading{
      font-size: 24px;
    }

    .sub_heading {
      padding-top: 10px;
      font-size: 18px;
    }
    label{
      font-size: 14px;
    }

    

    .dem{
      margin-top: 20px;
    }

    

    .row2{
      text-align: end;
      margin: 20px 215px;
    }
    .btn{
      margin-bottom: 50px;
      color: #fff;
      background: #FFAB0D;
      height: 40px;
      padding: 10px 20px;
      font-size: 14px;
    }

    .btn:hover{
      background: rgb(226, 149, 4);
      color: #fff!important;
    }

    /* Payments */
    tr>button{
      cursor: pointer;
    }



    /* staffs */
    .round {
      margin-top: 10px;
    }
    

    .btn-outline{
      background: #fff;
      border: 2px solid #FFAB0D;
      height: 40px;
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 5px;
      color: #FFAB0D
    }

    .btn-outline:hover{
      background: #FFAB0D;
      color: #fff!important;
    }

    .rowTab ul{
      list-style: none;
    }

    .labels{
      margin-bottom: 10px;
    }

    .check label{
      font-size: 18px;
      font-weight: 100;
    }

    input[type="checkbox"]{
      width: 20px;
      height: 20px;
    }
    .rightTab{
      margin-bottom: 20px;
    }

    /* Blog */
    .post{
      color: #FFAB0D;
    }
    .dem_blog{
      width: 100%;
      display: flex;
      align-items: center;
    }

    .dem_blog>input{
      width: 70%;
      margin-right: 20px;
      margin-left: 10px;
    }

    .dem_blog .user{
      margin-right: 5px;
    }

    .blue{
      color: #0267C1;
      cursor: pointer;
    }

    .toolbar{
      background: #fff;
      padding: 10px;
      margin: 10px 0;
      display: flex;
      align-items: center;
      border-radius: 5px;
      width: 82%;
    }

    .seperator::after {
      content: " ";
      border-right: 1px solid #c4c4c4;
      height: 20px;
    }
    .compose{
      border: none;
      padding: 5px 10px;
      border-radius: 3px;
      margin-right: 10px;
    }

    .undo, 
    .redo, 
    .Italic, 
    .Underline, 
    .strike-through,
    .highlight,
    .insert-image,
    .insert-video,
    .insert-emoji,
    .alignment {
      padding-right: 10px;
    }

    .font-selector, 
    .bold, 
    .font-color, 
    .create-link{
      padding: 0 10px;
    }

    .font-weight {
      margin: 0 10px;
    }

    .dem_blog-post textarea{
      height: 70vh;;
    }
    .btn-grey{
      margin-bottom: 50px;
      color:rgba(0, 0, 0, 0.8);
      background: #f1f1f1;
      height: 40px;
      padding: 10px 20px;
      font-size: 14px;
      border: none;
      border-radius: 5px;
    }

    .btn-grey:hover{
      box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1); 
    }
    .buttons{
      width: 80%;
      text-align: end;
    }

    /*coupons*/

    .rem{
      margin-top: 20px;
    }

    .rem select{
      height: 40px;
      width: 80%;
      padding-left: 10px;
      border: 1px solid #dfe1e5;
      border-radius: 5px;

    }

    .radio_container{
      display: inline-block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

    .radio_container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    .radio_container:hover input ~ .checkmark {
      background-color: #ccc;
    }

    .radio_container input:checked ~ .checkmark {
      background-color: #2196F3;
    }
    
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .radio_container input:checked ~ .checkmark:after {
      display: block;
    }
    .radio_container .checkmark:after {
      top: 5px;
     left: 5px;
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background: #FFAB0D;
   }

    .checkmark {
      position: absolute;
      height: 20px;
      width: 20px;
      background-color: #eee;
      border-radius: 50%;
      margin-left: 5px;
    }
    
    .rem input[type="number"] {
      width: 10%;
      height: 40px;
      padding: 10px;
      border: 1px solid #dfe1e5;
      border-radius: 5px;
    }

    .rem input[type="date"] {
      width: 30%;
      height: 40px;
      padding: 10px;
      border: 1px solid #dfe1e5;
      border-radius: 5px;
    }

    .move{
      margin-top: 20px;
    }

    .btn-green{
      background: #0CCC36;
      border: none;
      height: 40px;
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 5px;
      color: #FFF;
    }

    .btn-red{
      background: #F14336;
      border: none;
      height: 40px;
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 5px;
      color: #FFF;
      margin: 0 10px;
    } 

    .d-flex{
      display: flex;
    }

    /* Users */
    .Tooglebtn{
      padding-top: 20px;
      height: 60px;
      width: 700px;
      display: flex;
      margin-bottom: 30px;
    }

    .btn-white{
      background: #0267C1;
      padding: 10px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      margin: 0;
      color: #fff;
      width: 175px;
      height: 50px;
      text-align: center;
    }

    .btn-white:hover{
      background: #FFAB0D;
      color: white;
      text-decoration: none;
    }

    .btn-selected:hover{
      background: #FFAB0D;
      color: white;
      text-decoration: none;
    }

    .btn-selected{
      background: #FFAB0D;
      color: #fff;
      padding: 10px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      margin: 0;
      width: 175px;
      height: 50px;
      text-align: center;
    }

    .hey{
      background: #0267C1;
      color: #fff;
      width: 75px;
      height: 50px;
      border-radius: 5px;
      text-align: center;
      padding-top: 10px;
    }

    .user-section{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  