@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

   *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Signika', sans-serif;
   }

   body{
     background-color: #F8FBFF!important;
   }

   ::placeholder {
    color: rgba(0, 0, 0, .5);
    padding-left: 10px;
  }
  
    .row.content {
      height: 100vh;
    }

    .topnav{
      padding: 15px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    }

    .user {
      background: #c4c4c4;
      border-radius: 50%;
      padding: 10px;
      width: 40px;
      height: 40px; 
    }

    .topnav_end{
      display: flex;
      align-items: center;
    }

    .topnav_end h6 {
      padding-right: 10px;
    }
    
    .sidenav {
      background-color: #0267C1;
      height: 100vh;
      padding: 0!important;
    }

    .nav-pills>li>a {
      border-radius: none!important;
      color: #fff;
    }

    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
      background-color: #fff!important;
      color: #FFAB0D!important;
      border-left: 5px solid #FFAB0D;
    }

    .icons{
      width: 24px;
      height: 24px;
      padding-right: 10px;
    }

    .selected {
      background: linear-gradient(117.17deg, #0267C1 0%, #9C6EE8 100%);
    }
    
    .card1{
      border-radius: 5px;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      margin: 10px 0;
      width: 199px;
      height: 134px;
    }

    .card{
      border-radius: 5px;
      color: rgba(0, 0, 0, 0.8);
      background: #EDEDED;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      margin: 10px 0;
      width: 199px;
      height: 134px;
    }

    .first {
      font-size: 24px;
      margin: 0;
      padding: 0;
    }

    .second{
      font-size: 30px;
      margin: 0;
      padding: 0;
    }
    .third{
      font-size: 36px;
      font-weight: bold;
    }

    thead {
      font-size: 14px;
    }

    .table {
      text-align: center;
      background: #fff;
    }

    .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
      border-bottom-width: 1px!important;
      text-align: center
    }

    tbody{
      font-size: 14px;
    }
    
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    .sel {
      background: #fff;
      height: 50px;
      width: 200px;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 600;
      border-radius: 5px;
      padding: 10px;
      margin: 20px 0;
    }
    .otable{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .copy{
      display: flex;
    }

    .copy h4 {
      padding: 10px;
      background: #e1e1e1;
      border-radius: 2px;
      margin-left: 5px;
      font-size: 12px;
      cursor: pointer;
    }

    .green{
      color: #09C532;
    }

    .red{
      color: red;
    }

    /* Edit page */
    .heading{
      font-size: 24px;
    }

    .sub_heading {
      padding-top: 10px;
      font-size: 18px;
    }
    label{
      font-size: 14px;
    }

    input{
      width: 1009px;
      height: 50px;
      border: 0.1 solid rgba(0, 0, 0, 0.1);
    }

    .dem{
      margin-top: 20px;
    }

    textarea {
      width: 1009px;
      height: 193px;
    }

    .row2{
      text-align: end;
      margin: 20px 80px;
    }
    .btn{
      margin-bottom: 50px;
      color: #fff;
      background: #FFAB0D;
      height: 40px;
      padding: 10px 20px;
      font-size: 14px;
    }

    .btn:hover{
      background: rgb(226, 149, 4);
      color: #fff!important;
    }

    /* staffs */
    .round {
      margin-top: 10px;
    }

    .btn-outline{
      background: none;
      border: 2px solid #FFAB0D;
      height: 40px;
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 5px;
      color: #FFAB0D
    }

    .btn-outline:hover{
      background: #FFAB0D;
      color: #fff!important;
    }

    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  